/*
**************************
        description
**************************
*/
/*
************END***********
*/

/*
**************************
         SASS
**************************
*/
$funFont: "irish grover", sans-serif;
$normalFont: "Poppins", sans-serif;
$orange: rgba(251, 189, 99, 1);
$purple: rgba(192, 171, 212, 1);
$pink: rgba(240, 194, 194, 1);
$lightOrange: rgba(251, 194, 102, 0.17);
$mediumOrange: rgba(255, 223, 186, 1);
$lightPink: rgba(241, 195, 193, 0.4);
/*
************END***********
*/

/*
**************************
        general
**************************
*/
* {
  font-family: $normalFont;
  margin: 0px;
  padding: 0px;
}

.main {
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: $funFont;
}

h2 {
  font-size: 5vw;
}

p {
  line-height: 20px;
}

.off {
  display: none;
}

/*
************END***********
*/

/*
**************************
        search
**************************
*/
.searchBtn {
  background-color: $orange;
  font-family: $funFont;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 0px 0px 3px $purple;
  border-radius: 3px;
}

.searchBtn:hover {
  cursor: pointer;
  background-color: $pink;
}

.searchBar {
  border-radius: 3px;
  min-width: 100px;
  max-width: 50vw;
}

.root input {
  font-family: $normalFont;
  font-size: 20px;
  margin-right: 10px;
}

.containerIntro {
  background: linear-gradient(90deg, rgba(251, 189, 99, 1) 0%, rgba(240, 194, 194, 1) 50%, rgba(192, 171, 212, 1) 100%);
  padding: 10px;

}

/*
************END***********
*/
/*
**************************
          intro
**************************
*/
h1 {
  font-size: 7vw;
}

main>p {
  margin-bottom: 20px;
  font-size: 14px;
}

/*
************END***********
*/
/*
**************************
        main weather
**************************
*/
.containerWeather {
  background-color: $lightOrange;
  border: $orange solid 5px;
  padding: 10px;
}

.answer {
  font-family: $funFont;
  font-size: 7vw;
  text-align: center;
}

.changingImage {
  width: 80%;
  max-width: 600px;
  display: block;
  margin: 0px auto;
}

.image {
  width: 60px;
  height: 60px;
}

/*
************END***********
*/